**/build
**/*.o
**/*.ll
**/obj
**/foo
.vscode
*.swp
Benchmarks/rodinia_cuda_3.1/data 
Benchmarks/rodinia_cuda_3.1/bin
Benchmarks/rodinia_cuda_3.1/cuda/backprop/backprop
Benchmarks/rodinia_cuda_3.1/cuda/bfs/bfs
Benchmarks/rodinia_cuda_3.1/cuda/b+tree/b+tree.out
Benchmarks/rodinia_cuda_3.1/cuda/hotspot3D/3D
Benchmarks/rodinia_cuda_3.1/cuda/particlefilter/particlefilter_float
Benchmarks/rodinia_cuda_3.1/cuda/particlefilter/particlefilter_naive
Benchmarks/rodinia_cuda_3.1/cuda/srad/srad_v2/srad
Tools/plotting/graphs
Tools/plotting/*.in
Benchmarks/rodinia_cuda_3.1/cuda/pathfinder/result.txt
Benchmarks/rodinia_cuda_3.1/cuda/dwt2d/main.cu.ii
Benchmarks/rodinia_cuda_3.1/cuda/heartwall/heartwall
Benchmarks/rodinia_cuda_3.1/cuda/hotspot/hotspot
Benchmarks/rodinia_cuda_3.1/cuda/lavaMD/lavaMD
Benchmarks/rodinia_cuda_3.1/cuda/lud/cuda/lud_cuda
Benchmarks/rodinia_cuda_3.1/cuda/myocyte/myocyte.out
Benchmarks/rodinia_cuda_3.1/cuda/myocyte/output.txt
Benchmarks/rodinia_cuda_3.1/cuda/nn/hurricane_gen
Benchmarks/rodinia_cuda_3.1/cuda/nn/nn
Benchmarks/rodinia_cuda_3.1/cuda/nw/needle
Benchmarks/rodinia_cuda_3.1/cuda/pathfinder/pathfinder
results-backup-and-env-help/
